$menu-a-color: black;
$body-background-color: white;
$main-text-color: black;
$mat-toolbar-color: black;
$mat-toolbar-background: white;
//Bulma
$menu-item-color: $menu-a-color;
$menu-item-hover-background-color: rgba(0, 0, 0, .3);
$table-background-color: transparent;
$table-color: white;
$table-head-cell-color: white;
$table-row-hover-background-color: grey;

$grey-darker: hsl(0, 0%, 100%);
$link: #CDDC39;
/*Extra Variable*/
$radius: 2px;

